.input-pill {
    display: block;
    width: 100%;
    margin: 16px 0;
    height: 40px;
    border-radius: 20px;
    padding: 0 20px;
    background-color: rgba($color: #59626b, $alpha: 0.5);
    color: #fff;
    border: none;
    &::placeholder {
        color: rgba($color: #fff, $alpha: 0.6);
    }
    &:focus-visible {
        outline: none;
    }
}



.input {
    background-color: $dark;
    border-radius: 4px;
    border: 1px solid $white;
    color: $white;
    padding: 0 1rem;
    height: 32px;
    &:focus-visible{
        outline: none;
    }
}